{% extends 'default.html' %}

{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom_grid.css') }}">

<div class="container">
    <div class="row" style="margin-bottom: 20px; color: red;">
        <div class="col-md-4 col-sm-6 col-xs-12"> IP Address</div>
        <div class="col-md-4 col-sm-6 col-xs-12"> Device</div>
        <div class="col-md-4 col-sm-6 col-xs-12"> Location</div>
    </div>
    {% for name in names %}
        <div class="row row-striped">
            <div class="col-md-4 col-sm-6 col-xs-12"><a href="./mapOctets/{{name.ip_address}}">{{ name.ip_address }}</a></div>
            <div class="col-md-4 col-sm-6 col-xs-12">{{ name.ip_address }}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}


