{% extends 'default.html' %}

{% block body %}

<h1>Octets</h1>
    <div class="row" style="margin:6px;">
        <div class="col-sm-2"><a href="/admin">Home</a>
        </div>
    </div>
<section>

    <div class="row">
        <div class="col-sm-2">IP Address</div>
        <div class="col-sm-2">Device</div>
        <div class="col-sm-2">Location</div>

    </div>
    {% for name in names %}
    <div class="row" style="margin:0,0,5px,0;">
        <div class="col-sm-1">
            <div class=flash><a href="./segment?name={{name.ip_address}}">{{ name.ip_address }}</a></div>
        </div>
        <div class="col-sm-1">
            <div class=flash>{{ name.device }}</div>
        </div>
        <div class="col-sm-1">
            <div class=flash>{{ name.location }}</div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}


